**/target/
**/node_modules/
**/.env
**/archive

# testing
**/coverage*/
**/dist/
tsconfig.tsbuildinfo

# production
**/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


**/.dockerignore